.item-block{
  text-align: left;
  display: flex;
  margin: 1rem 0;
}

.item-icon-block{
  width: 1.4rem;
  height: auto;
  line-height: 1;
  margin-right: .3rem;
}

.item-title{
  padding-left: 3px;
}

.item-additional{
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8em;
  margin-left: 5px;
}

.item-block img{
  width: 100%;
  border-radius: 1rem;
  filter: brightness(0) invert(1);
}
