.item-block{
  text-align: left;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  // padding: 5px 0;
  margin: 1rem 0;
}

.item-icon-block{
  padding-right: 10px; 

  width: 3rem;
  height: auto;
}
.item-title{
  padding-left: 3px;
}

.item-additional{
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8em;
  margin-left: 5px;
}

.item-block img{
  width: 100%;
  border-radius: 1rem;
  filter: brightness(0) invert(1);
}
