*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: whitesmoke;
  // background: #dddd;
  font-size: 15px;
}

hr{
  opacity: 0.3;
}

ul li{
  list-style-type: circle !important;
}