*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 20px;
}

body {
  font-family: 'Lato',sans-serif;
  background: whitesmoke;
  // background: #dddd;
  box-sizing: border-box;
}

hr{
  opacity: 0.3;
}

ul li{
  list-style-type: circle !important;
}